footer {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    // background-color: #f0f0f0;
    /* Optional: adds a background */
}

footer span {
    display: inline-block;
    margin: 0 5px;
    font-size: large;
}

.link-text {
    color: forestgreen;
    text-decoration: underline;
}